<html>
  <head>
    
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />

    <meta name='txtweb-appkey' content='90806567-f143-477f-b0a1-c1bb4b6f2cad' /> <!--36a13dde-0fe7-461f-bc1f-14948027df4e  -->

   
  </head>
  <body>

	<% trips.forEach(function(trip) { %>

      Route: <%= trip.start_name %> to <%= trip.end_name %> :&gt; Bus reaches '<%= trip.location %>' stop at <%= trip.location_time %> & <%= trip.target %> at <%= trip.target_time %><br>
	<% }); %>
  </body>
</html>