<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org" id='ng-app' ng-app="adminApp">

<head>

    <title>Fleet Manager</title>
	<!--
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places&sensor=false&language=en&v=3.exp" ></script>
	-->
	<script type="text/javascript" src="javascripts/map/gmap.js" ></script>

	<!--
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.18/angular-animate.min.js"></script>
	-->
	
 <!-- TODO later 
	<script src="javascripts/bower_components/angular/angular.min.js"></script>
	<script src="javascripts/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="javascripts/bower_components/angular-animate/angular-animate.min.js"></script>
	-->
	
	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/angular-sanitize.min.js"></script>
	<script src="javascripts/angular-animate.min.js"></script>
	
	
	<!-- CDN LIBS  
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" type="text/javascript"></script>	
	
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js" type="text/javascript"></script>	
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.9.9/select.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-select/0.9.9/select.min.css">	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js" type="text/javascript"></script>
	
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-busy/4.1.2/angular-busy.min.js"></script>
	<link href="http://cdnjs.cloudflare.com/ajax/libs/angular-busy/4.1.2/angular-busy.min.css" rel="stylesheet">
    
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.8.5/css/selectize.default.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.0.12/angular-google-maps.min.js"></script>
	-->
	
	<!-- LOCAL LIBS -->
	<script type="text/javascript" src="javascripts/bower_components/jquery/dist/jquery.min.js" ></script>
	<script type="text/javascript" src="javascripts/lodash.min.js"></script>
	
	<script type="text/javascript" src="javascripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<link href="javascripts/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
	
	<script type="text/javascript" src="javascripts/bower_components/angular-ui-select/dist/select.min.js"></script>
	<link rel="stylesheet" href="javascripts/bower_components/angular-ui-select/dist/select.min.css">   
	<script type="text/javascript" src="javascripts/moment.min.js"></script>
	<script type="text/javascript" src="javascripts/bower_components/angular-busy/dist/angular-busy.min.js"></script>
	<link rel="stylesheet" type="text/css" href="javascripts/bower_components/angular-busy/dist/angular-busy.min.css" />
    
    <link rel="stylesheet" href="javascripts/bower_components/selectize/dist/css/selectize.default.css">
	<script type="text/javascript" src="javascripts/bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
	
    <script type="text/javascript" src="javascripts/bower_components/message-center/message-center.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/angular-flash/dist/angular-flash.min.js"></script>
	
    <script src="javascripts/bower_components/angular-ui-tree/dist/angular-ui-tree.min.js"></script>
    <link rel="stylesheet" href="javascripts/bower_components/angular-ui-tree/dist/angular-ui-tree.min.css">   
	
	<!-- libs not found on CDN -->
	<link rel="stylesheet" href="javascripts/ui-grid/ui-grid-unstable.min.css" />
    <script type="text/javascript" src="javascripts/ui-grid/ui-grid-unstable.min.js"></script>
	
    <link rel="stylesheet" type="text/css" href="javascripts/bower_components/angular-ui-layout/ui-layout.css" />
    <script type="text/javascript" src="javascripts/bower_components/raf/index.js"></script>
    <script type="text/javascript" src="javascripts/bower_components/angular-ui-layout/ui-layout.js"></script>

	<script src="javascripts/ContextMenu.js"></script>		
    <script type="text/javascript" src="javascripts/ProjectedOverlay.js"></script>
    <script type="text/javascript" src="javascripts/geoxml3.js"></script>
	
	<!--project resources -->
    <script type="text/javascript" src="javascripts/RouteController.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/map.css' />
    <link rel='stylesheet' href='/stylesheets/context_menu.css' />
</head>

<body ng-controller="RouteController">

    <div cg-busy="hangOn">
        <div flash-alert active-class="in alert" class="alert fade" align="right">
            <span class="alert-message">{{flash.message}}</span>
        </div>
		<table><tr>
		<td><ny-fleet-choice ny-fleet="fleet" ny-fleets="fleets"></ny-fleet-choice></td>
		<td># Routes: {{fleetDetail.routes.length}} # Stops: {{fleetDetail.allstops.length}} </td>
		<td><div align="right">Logged in as <%= user.username %>, <% if(user.role==1 ) { %>Fleet Administrator<% } else { %>Super Admin <% }%> <a href='/logout'>Logout</a></div></td>
		
		</tr></table>        
		
                    <!-- Subscribe to all flash messages. TODO : Do what is done at http://embed.plnkr.co/zXGEKw/preview -->

                    <tabset vertical="false" justified="false">
                        <tab heading="Routes">
                            <table border="1" width=100% height=100%>
                                <tr>
                                    <td width=15% valign="top">
                                        <b>Routes</b>
                                        <div ui-grid="routeListOptions" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize class="routelist"></div>
                                    </td>
                                    <td width=70% valign="top">
                                        <div id="route" style="width:100%">

                                            Route options:
                                            <button type="button" ng-click="newRoute()" class="btn btn-primary btn-xs" ng-disabled="routeDetail.isDirty">New</button>
                                            <button type="button" ng-click="extendRoute()" class="btn btn-primary btn-xs" ng-disabled="routeDetail.isDirty || routeDetail.routeId<=e0">Extend</button>
                                            <button type="submit" ng-click="saveRoute()" class="btn btn-primary btn-xs" ng-disabled="!routeDetail.isDirty">Save</button>
                                            <button type="submit" ng-click="closeRoute()" class="btn btn-primary btn-xs" ng-disabled="routeDetail.routeId < 0 ">Close</button>
											<button type="submit" ng-click="showData()">Data</button>
                                            <input class="route_num" type="number" placeholder="Route Number" ng-model="routeDetail.routeNum" ng-show="routeDetail.routeId>=0" ng-disabled="true" />
											<div style="vertical-align:top"><font size="0.5">Zoom: {{fleetDetail.zoom}} Center: {{fleetDetail.center.latitude}},{{fleetDetail.center.longitude}} Bounds: NE({{fleetDetail.bounds.northeast.latitude}},{{fleetDetail.bounds.northeast.longitude}}) SW({{fleetDetail.bounds.southwest.latitude}},{{fleetDetail.bounds.southwest.longitude}})</font></div>
                                        </div>
                                        <tabset vertical="false" justified="false">
                                            <tab heading="Map">
                                                
                                                <ui-gmap-google-map class="span7" events="mapEvents" zoom="fleetDetail.zoom" center="fleetDetail.center" draggable="true" bounds="fleetDetail.bounds" pan="true" control="map.control">

                                                    <ny-ui-gmap-control gmap="gmap" bounds="fleetDetail.bounds"></ny-ui-gmap-control>

                                                    <ui-gmap-window show="map.infoWindow.show" coords="stopDetail" isIconVisibleOnClick="false" ng-cloak>
                                                        <div>


                                                            <form name="stop_form" ng-controller="StopController" ng-submit="saveStop()" novalidate>
                                                                <p>Adding stop at {{ stopDetail.latitude | number:4 }}, {{ stopDetail.longitude | number:4 }}</p>
                                                                <br/>
                                                                <input type="text" name="stopName" placeholder="Stop Name" ng-model="stopDetail.name" ng-required="true" autofocus />
                                                                <br/>
                                                                <textarea ng-model="stopDetail.address" placeholder="Stop Address"></textarea>
                                                                <br/>
                                                                <button type="submit" ng-disabled="stop_form.$invalid">Save</button>

                                                            </form>

                                                        </div>
                                                    </ui-gmap-window>

                                                    <ui-gmap-markers doCluster="false" models="fleetDetail.stops" coords="'self'" icon="'icon'" click="'onClicked'" options="'options'" events="stopEvents" labelContent="'name'">
                                                    </ui-gmap-markers>
                                                    <!--
													<ui-gmap-window show="true" coords="currentStop" isIconVisibleOnClick="false" ng-cloak>
														{{currentStop.name}}
													</ui-gmap-window>-->


                                                </ui-gmap-google-map>

                                            </tab>
                                            <!--Map tab ends -->
                                            <tab heading="Schedule" disabled="routeDetail.routeId<0">
												<% [0,1].forEach(function(dir){ %>
                                                <button class="btn btn-primary btn-xs" ng-click="addTrip(<%= dir %>)"><span class="glyphicon glyphicon-plus"></span>Add <%= dir==0 ? "Onward" : "Return" %> Trip</button>
												<button class="btn btn-danger btn-xs" ng-click="deleteTrips(<%= dir %>)" ng-disabled="scheduleOptions[<%= dir %>].selectedRows.length==0" ><span class="glyphicon glyphicon-trash"></span>Delete Trips</button>
												<button class="btn btn-success btn-xs" ng-click="autocompleteTrips(<%= dir %>)" ng-disabled="scheduleOptions[<%= dir %>].selectedRows.length==0 && routeDetail "><span class="glyphicon glyphicon-arrow-right"></span>Autocomplete Trips</button>
	
                                                <div ui-grid="scheduleOptions[<%= dir %>]" external-scopes="scheduleActions" ui-grid-pinning ui-grid-edit ui-grid-cellNav ui-grid-auto-resize ui-grid-resize-columns ui-grid-selection></div>
                                                <% }) %>
                                            </tab>
                                            <tab heading="Fares" select="showFares()" disabled="routeDetail.routeId<0">
                                                <div ui-grid="fareGridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize ui-grid-resize-columns></div>
                                            </tab>
                                            <tab heading="Object">
                                                <pre class="code">{{ routeDetail | json }}</pre>
                                            </tab>
                                        </tabset>
                                    </td>

                                    <td width=15% valign="top">
                                        <div ng-disabled="routeDetail.routeId<0">
                                            <tabset>
                                                <tab heading="Onward">
                                                    <div ui-tree="stageTreeOptions">
                                                        <!-- for existing stages -->
                                                        <ol ui-tree-nodes ng-model="routeDetail.stages" data-type="group">
                                                            <li ng-repeat="stage in routeDetail.stages" ui-tree-node data-type="stage">
                                                                <div class="group-title angular-ui-tree-handle" ng-show="!stage.editing">
                                                                    <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeStage(stage)" ng-show="stage.stops.length>0"><i class="glyphicon glyphicon-remove"></i></a>
                                                                    <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="stage.editing=true"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                    <div>{{stage.title}}</div>
                                                                </div>
                                                                <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="stage.editing">
                                                                    <form class="form-inline" role="form" name="stage_{{stage.stageId}}">
                                                                        <div class="form-group">
                                                                            <label class="sr-only" for="title">Stage name</label>
                                                                            <input type="text" class="form-control" placeholder="Stage name" ng-model="stage.title" ng-required="true">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-default" ng-click="stage.editing=false">Save</button>
                                                                        <button type="submit" class="btn btn-default" ng-click="stage.editing=false">Cancel</button>
                                                                    </form>
                                                                </div>
                                                                <ol ui-tree-nodes ng-model="stage.stops" data-type="stage">
                                                                    <li ng-repeat="stop in stage.stops" ui-tree-node data-type="stop">
                                                                        <div class="category-title angular-ui-tree-handle">
                                                                            <!--<a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeCategory(stage, stop)"><i class="glyphicon glyphicon-remove"></i></a>-->
                                                                            <div>
                                                                                {{stop.onwardStop.name}}
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                        </ol>
                                                        <ol class="angular-ui-tree-nodes">
                                                            <li class="angular-ui-tree-node">
                                                                <div class="group-title angular-ui-tree-handle">
                                                                    <form class="form-inline" role="form" name="newstage_form">
                                                                        <div class="form-group">
                                                                            <label class="sr-only" for="title">Stage name</label>
                                                                            <input type="text" class="form-control" id="stageName" ng-model="newStage.title" placeholder="Stage name" ng-required="true">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-default" ng-click="addNewStage()" ng-disabled="newstage_form.$invalid || routeDetail.routeId<0">Add Stage</button>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </tab>
                                                <tab heading="Return">
                                                    <div ui-tree="stageTreeOptions">
                                                        <!-- for existing stages -->
                                                        <ol ui-tree-nodes ng-model="routeDetail.stages" data-type="group">
                                                            <li ng-repeat="stage in routeDetail.stages | reverse" ui-tree-node>
                                                                <div class="group-title angular-ui-tree-handle" ng-show="!stage.editing">
                                                                    <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeGroup(stage)" ng-show="stage.stops.length>0"><i class="glyphicon glyphicon-remove"></i></a>
                                                                    <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag ng-click="stage.editing=true"><i class="glyphicon glyphicon-pencil"></i></a>
                                                                    <div>{{stage.title}}</div>
                                                                </div>
                                                                <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="stage.editing">
                                                                    <form class="form-inline" role="form">
                                                                        <div class="form-group">
                                                                            <label class="sr-only" for="title">Stage name</label>
                                                                            <input type="text" class="form-control" placeholder="Stage name" ng-model="stage.title">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-default" ng-click="stage.editing=false">Save</button>
                                                                        <button type="submit" class="btn btn-default" ng-click="stage.editing=false">Cancel</button>
                                                                    </form>
                                                                </div>
                                                                <ol ui-tree-nodes ng-model="stage.stops" data-type="stage">
                                                                    <li ng-repeat="stop in stage.stops | reverse" ui-tree-node data-type="stop">
                                                                        <div class="category-title angular-ui-tree-handle">
                                                                            <!--<a href="" class="btn btn-danger btn-xs pull-right" data-nodrag ng-click="removeCategory(stage, stop)"><i class="glyphicon glyphicon-remove"></i></a>-->
                                                                            <div>
                                                                                {{stop.returnStop.name}}
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                        </ol>
                                                        <ol class="angular-ui-tree-nodes">
                                                            <li class="angular-ui-tree-node">
                                                                <div class="group-title angular-ui-tree-handle">
                                                                    <form class="form-inline" role="form">
                                                                        <div class="form-group">
                                                                            <label class="sr-only" for="title">Stage name</label>
                                                                            <input type="text" class="form-control" id="stageName" ng-model="newStage.title" placeholder="Stage name">
                                                                        </div>
                                                                        <button type="submit" class="btn btn-default" ng-click="addNewStage()" ng-disabled="newstage_form.$invalid || routeDetail.routeId<0">Add Stage</button>
                                                                    </form>
                                                                </div>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </tab>
                                            </tabset>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </tab>
                        <tab heading="Calendars">
                            <button ng-click="addCalendar()" class="btn btn-default">Add</button>
                            <button ng-click="saveCalendars()" class="btn btn-default">Save</button>
                            <div ui-grid="calendarOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-auto-resize></div>
                        </tab>
                    </tabset>
    </div>
</body>

</html>
